REDPANDA_SUPERUSER_NAME=superuser
REDPANDA_SUPERUSER_PASSWORD=secretpassword
PRODUCER_USER_NAME=siscom-producer
PRODUCER_USER_PASSWORD=producerpassword
CONSUMER_USER_NAME=siscom-consumer
CONSUMER_USER_PASSWORD=consumerpassword
LIVE_CONSUMER_USER_NAME=siscom-live-consumer
LIVE_CONSUMER_USER_PASSWORD=liveconsumerpassword
API_METERING_PRODUCER_USER_NAME=api-metering-producer
API_METERING_PRODUCER_USER_PASSWORD=apimeteringproducerpassword
API_METERING_CONSUMER_USER_NAME=api-metering-consumer
API_METERING_CONSUMER_USER_PASSWORD=apimeteringconsumerpassword

# Expose Kafka to the host
KAFKA_EXTERNAL_PORT=9092
